<div style="margin-top: 15px" *ngIf="(orders$ | async) as orders">
    <md-card>
      <div mdTooltip="Delete all!" mdTooltipPosition="above" class="btnBottomRight"
        *ngIf="authService.isAdmin"
      >
        <button md-fab (click)="openDialog()">
            <md-icon>delete_sweep</md-icon>
        </button>
      </div>
      <md-card-title fxLayoutAlign="flex-start center" fxLayoutGap="10px">
          <span>All orders</span>
          <!-- <div class="numberCircle"><span>{{numOrders}}</span></div> -->
          <md-chip-list><md-chip class="primary" selectable="false" >{{numOrders}}</md-chip></md-chip-list>
      </md-card-title>
      <md-card-subtitle>Realtime list of all orders</md-card-subtitle>
      <md-card-content>
        <md-tab-group class="tab-group">
            <md-tab label="Order Summary">
              <div class="tab-content">
                <md-list *ngIf="(orders$ | async | summarize) as summaryList">
                  <md-list-item *ngFor="let item of summaryList">
                    {{item.summary}}
                  </md-list-item>
                </md-list>
              </div>
            </md-tab>
            <md-tab label="All Orders">
                <ng-template md-tab-label>
                  All Orders
                </ng-template>
                <div class="tab-content">
                  <md-list *ngIf="orders">
                    <md-list-item *ngFor="let o of orders">
                      <app-order-detail-full [order]='o'></app-order-detail-full>
                    </md-list-item>
                  </md-list>
                </div>
              </md-tab>
          </md-tab-group>
      </md-card-content>
    </md-card>
  </div>

