<div style="margin-top: 15px" *ngIf="orders$">
  <md-tab-group class="demo-tab-group">
    <md-tab label="All Orders">
      <div>
        <md-list *ngIf="orders$ | async as orders">
          <md-list-item *ngFor="let o of orders">
            <app-order-detail-full [order]='o'></app-order-detail-full>
          </md-list-item>
        </md-list>
      </div>
    </md-tab>
    <md-tab label="Order Summary">
        <md-list *ngIf="(orders$ | async | summarize) as summaryList">
            <md-list-item *ngFor="let item of summaryList">
                {{item.summary}}
              </md-list-item>
        </md-list>
    </md-tab>
  </md-tab-group>
</div>
