<div *ngIf="orders !== null">
  <div *ngIf="orders.length > 0">
    <mat-card >
      <mat-card-title>SUBMITTED ORDERS</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let o of orders">
            <app-order-detail [order]='o'></app-order-detail>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div *ngIf="orders.length === 0">
    <mat-card >
        <mat-card-content>
       <h2>You have not submitted any orders yet</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>


