<div fxLayout="row" class="header">
  <img class="avatar_md" src="{{photoUrl}}" *ngIf="photoUrl" fxFlexAlign="center">
  <h1 style="display: inline" fxFlexAlign="center">Welcome {{firstName}}</h1>
</div>

<mat-card fxLayoutAlign="center" fxLayout="column">
  <mat-card-title>PLACE AN ORDER</mat-card-title>
  <div>
    <form #orderForm="ngForm" novalidate fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="flex-start" fxLayoutGap="30px">
      <mat-select placeholder="Coffee Style" [(ngModel)]="order.style" name="style" #coffeeStyle required>
        <mat-option *ngFor="let style of styles" [value]="style.value" autofocus>
          {{style.value}}
        </mat-option>
      </mat-select>

      <mat-select placeholder="Size" [(ngModel)]="order.size" name="size" required>
        <mat-option *ngFor="let size of sizes" [value]="size.value">
          {{size.value}}
        </mat-option>
      </mat-select>

      <mat-select placeholder="Milk" [(ngModel)]="order.milk" name="milk" *ngIf="coffeeStyle.value !== 'Long Black' && coffeeStyle.value !== '' ">
        <mat-option *ngFor="let milk of milks" [value]="milk.value">
          {{milk.value}}
        </mat-option>
      </mat-select>
      <button mat-mini-fab (click)="createOrder()" fxFlexAlign.gt-sm="" fxFlexAlign="center" [disabled]="!orderForm.form.valid">
        <mat-icon>done</mat-icon>
      </button>
    </form>
  </div>
</mat-card>

<!-- list of user's orders -->
<app-order-list></app-order-list>
