<div style="margin-top: 15px" *ngIf="nonAdmins$ | async">
  <mat-card>
    <mat-card-title>
      Manage Admins
    </mat-card-title>
    <mat-card-subtitle>Admins can delete all the orders</mat-card-subtitle>
    <mat-card-content style="margin-top: 15px">
      <form>
        <mat-form-field>
          <input
            type="text"
            matInput [matAutocomplete]="auto"
            placeholder="Add an Admin" width="250px"
            #newAdminName
            [formControl]="usersControl"
          >

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
          <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user">
            {{ user.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

        <button mat-mini-fab (click)="addAdmin()" fxFlexAlign.gt-sm="" fxFlexAlign="center" [disabled]="newAdminName.value === ''">
          <mat-icon>add</mat-icon>
        </button>
      </form>


      <!-- add field to search for user to add them to the admins-->
      <mat-list *ngIf="admins">
        <mat-list-item *ngFor="let admin of admins">
          <!-- show admins -->
          <app-user-detail [user]="admin" (delAdminEvent)="adminDeleted($event);"></app-user-detail>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
