<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/home']">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button mat-menu-item [routerLink]="['/order']" [disabled]="!auth">
    <mat-icon>plus_one</mat-icon>
    <span>Place order</span>
  </button>
  <button mat-menu-item [routerLink]="['/orders']" [disabled]="!auth">
    <mat-icon>local_cafe</mat-icon>
    <span>All orders</span>
  </button>

  <button mat-menu-item [routerLink]="['/admins']" *ngIf="authService.isAdmin">
    <mat-icon>people</mat-icon>
    <span>Admins</span>
  </button>
  <!-- <button mat-menu-item disabled [routerLink]="['/users']">
    <mat-icon>map</mat-icon>
    <span>Local map</span>
  </button> -->
</mat-menu>
<div>
  <mat-toolbar color="primary">
    <div fxLayoutAlign="space-around center" class="nav-buttons">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button [routerLink]="['/home']">
        <h1>Firebootcamp Coffee</h1>
      </button>
      <div *ngIf="(authService.user$ | async)?.uid">
        <button mat-raised-button color="accent" (click)="authService.logout()">Logout</button>
      </div>
      <div *ngIf="!(authService.user$ | async)?.uid">
          <button mat-raised-button color="accent"></button>
        </div>
    </div>
  </mat-toolbar>
  <div>
    <div fxFlexOffset.gt-sm="20%" fxFlex.gt-sm="60%">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
