<div>
  <md-toolbar color="primary">
    <div fxLayoutAlign="space-between center" class="nav-buttons">
      <md-icon>local_cafe</md-icon>
      <button md-button [routerLink]="['/home']"><h1>Coffee Fire</h1></button>
      <div *ngIf="(authService.user$ | async)?.uid">
        <button md-button (click)="authService.logout()">Logout</button>
      </div>
    </div>

    <!-- <button md-icon-button [md-menu-trigger-for]="menu">
          <md-icon>more_vert</md-icon>
        </button> -->
  </md-toolbar>
  <div>
    <div fxFlexOffset.gt-sm="20%" fxFlex.gt-sm="60%">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <md-menu x-position="before" #menu="mdMenu">
      <button md-menu-item>Option 1</button>
      <button md-menu-item>Option 2</button>
    </md-menu>
    <md-card>
      <md-button-toggle-group>
        <md-button-toggle value="good"><md-icon>thumb_up</md-icon></md-button-toggle>
        <md-button-toggle value="bad"><md-icon>thumb_down</md-icon></md-button-toggle>
      </md-button-toggle-group>
    </md-card>
    <md-card>
      <button md-button>All</button>
      <button md-raised-button>Of</button>
      <button md-raised-button color="primary">The</button>
      <button md-raised-button color="accent">Buttons</button>
      <button md-fab><md-icon>add</md-icon></button>
      <md-button-toggle-group>
          <md-button-toggle value="left">
            <md-icon>format_align_left</md-icon>
          </md-button-toggle>
          <md-button-toggle value="center">
            <md-icon>format_align_center</md-icon>
          </md-button-toggle>
          <md-button-toggle value="right">
            <md-icon>format_align_right</md-icon>
          </md-button-toggle>
          <md-button-toggle value="justify" disabled>
            <md-icon>format_align_justify</md-icon>
          </md-button-toggle>
        </md-button-toggle-group>

    </md-card>


    <span class="done">
      <button md-fab>
        <md-icon>check_circle</md-icon>
      </button>
    </span> -->
</div>
